*{
    box-sizing: border-box;
}

body, html
{
margin : 0;
padding : 0;
}

.grid-container
{
    padding: 30px;
    height: 100vh;
    background-color: rgb(50, 45, 45);
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 30px;
    grid-template-areas: 
}

.grid-item
{
    background-color: #f78737;
    padding: 10px;
}
.grid-item:nth-child(5)
{
    background-color: rgb(247, 86, 42);
}
.grid-item:nth-child(4)
{
    background-color: rgb(247, 121, 87);
}
.grid-item:nth-child(2)
{
    background-color: #03a373;
}
.grid-item:nth-child(3)
{
    background-color: #1ad39c;
}
.grid-item:nth-child(6)
{
    background-color: #40f3bd;
}

#grid-header{
    grid-column: 1 / span 11;
    grid-row: 1 / span 3;
}
#medium-box{
    grid-column: 1 / span 5;
    grid-row: 4 /span 7;
}
#long-box{
    grid-column: 6 / span 6;
    grid-row: 4 / span 3;
}
#small-box{
    grid-column: 9 / span 3;
    grid-row: 7 / span 4; 
}
#small-box2{
    grid-column: 6 / span 3;
    grid-row: 7 / span 4; 
}